
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(255, 255, 255);
    height: 80px;
    padding: 20px;
}

footer{
    clear: both;
    background-color: rgb(255, 255, 255);
    height: 50px;
    padding: 10px;
    margin-top: 100px;

}
h1{

    color: rgb(253, 247, 247);
    text-align: center;
    margin-top: 30px;
}

h3{

    color: rgb(253, 247, 247);
    text-align: center;
}
button{
    background-color: rgb(204, 184, 7);
    position: absolute;
    right:    0;
    bottom:   300;
    height:40px;
    overflow:auto;
    width: 10%;
    margin-right: 200px;
    margin-top: 15px;
    border-radius: 10px;
    color:  rgb(255, 252, 224);
    box-shadow: 5px 0 5px 0 #ffffff;
    margin-top: 20px;

}



#central{
    background-image: url('../img/reuniao.jpeg' );
    min-height: 2px;
    margin-top: 70px;
    background-size: 100%;
    width: 75%;
    padding: 100px;
    background-color: rgb(214, 205, 205) ;
    border-radius: 50px;
    clear: both;
    margin-right: 100px;

}

#logo{
    float: left;
    margin-left: 90px;
    margin-top: 5px;

}


#menu{
    float: right;
    margin-top: 30px;
    margin-right: 540px;


}
#menu a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-right: 13px;


}
#menu a:hover {
    padding: 10px;
    text-decoration: none;
    color: black;
    text-decoration: underline;
}



.container2{
    margin-right: 20px;
    background-color: rgba(3, 6, 15, 0.5);
    width: 90%;
    padding: 5% 0 5% 0;
    text-align: center;
    border-radius: 10px;
    margin-right: 100px; 
    clear: both;

  }




.div1 {
    clear: both;
    position: relative;
    background-color: rgb(221, 221, 221); 
    float: left;
    display: inline-block;
    border-radius: 10px;
    width: 250px;
    height: 225px;
    margin-right: 1000px;
    margin-top: 100px;
    margin-left: 40px; 
      
}


.div2 {
    position: absolute;
    background-color: rgb(221, 221, 221); 
    float: left;
    border-radius: 10px;
    width: 250px;
    height: 225px;
    margin-right: 2000px;
    margin-top: 100px;
    margin-left: 320px; 
      
}

.div3 {
    position: absolute;
    background-color: rgb(221, 221, 221); 
    float: left;
    border-radius: 10px;
    width: 250px;
    height: 225px;
    margin-right: 1000px;
    margin-left: 600px; 
    margin-top: 100px;

      
}

.div1 p{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size:12px;

}

.div1 h3{
    color: black;
    text-align: center;
    margin-top: 50px;

}


.div2 h3{
    color: black;
    text-align: center;
    margin-top: 50px;

}

.div2 p{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size:12px;

}


.div3 h3{
    color: black;
    text-align: center;
    margin-top: 50px;

}

.div3 p{
    color: black;
    text-align: center;
    margin-top: 20px;
    font-size:12px;

}

.baixo {
    clear: both;
    position: absolute;
    background-color: rgb(2, 3, 43); 
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin-right: 5000px;
    margin-top: 153px;
    margin-left: 447px;   
 
}

.baixo h3 {
    text-align: center;
    margin-top: 20px;

}

.direita{
    clear: both;
    position: relative;
    background-color: rgb(2, 3, 43); 
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin-top: 50px;
    margin-left: 600px;   
 
}


.direita h3 {
    text-align: center;
    margin-top: 20px;

}
.esquerdacima {
    clear: both;
    position: absolute;
    background-color: rgb(2, 3, 43); 
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin-right: 2000px;
    margin-top: 51px;
    margin-left: 447px;   
 
}

.esquerdacima  h3 {
    text-align: center;
    margin-top: 20px;

}
.direitabaixo {
    clear: both;
    position: relative;
    background-color: rgb(2, 3, 43); 
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin-right: 2000px;
    margin-top: 2px;
    margin-left: 600px;   
 
}

.direitabaixo h3 {
    text-align: center;
    margin-top: 20px;

}

h2{
   color: black;
   text-align: left;
   margin-top: 250px; 
   margin-left: 130px; 
}

h4{
    color: black;
    text-align: left;
   margin-top: 10px;
   margin-left: 130px; 
 }



p{
    color: rgb(245, 244, 244);
    text-align: center;
    margin-top: center;

}



